// colors
$color-primary: #0f131d;
$color-primary-light: #1d2125;

$color-light-grey: #bebeb7;
$color-dark: #000000;

$color-brown: #937766;
$color-brown-light: #544944;

// /grid dimensions
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-sm: 1rem;

$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
